/***トップへ戻るボタン***/
    #page-top {
        position: fixed;
        right: 10px;
        bottom: 60px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        background: #FFF;
        color: #111;
        padding: 10px 11px;
        border: solid 1px;
        border-radius: 50%;
        box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
        z-index: 10;
    }
    #page-top:hover {
        background: #111;
        color: #FFF;
    }

/***追従するHOMEボタン***/
    #home-link {
        position: fixed;
        right: 10px;
        bottom: 10px;
        font-size: 1.2rem;
        line-height: 1.2rem;
        background: #fff;
        color: #111;
        padding: 10px;
        border: solid 1px;
        border-radius: 50%;
        box-shadow: 0 2px 10px -6px rgba(0,0,0,.5), 0 3px 10px -4px rgba(0,0,0,.2);
        z-index: 10;
    }
    #home-link:hover {
        background: #111;
        color: #FFF;
    }

.text-center {
    margin: 16px auto;
    text-align: center;
    display: block;
    /* border: 1px solid #000; */
}
.text-center .text {
    text-align: left;
    display: inline-block;
}

.bordered {
    border: 1px solid #000;  /* 黒い2pxの枠 */
    padding: 20px;            /* 内側の余白 */
    margin: 10px;             /* 外側の余白 */
}

.text-center2 {
	margin: 16px auto;
	text-align: center;
	display: block;
	/* border: 1px solid #000; */
}
.text-center2 ul {
	padding-left: 0;
	list-style: none;
	display: inline-block;
}
.text-center2 ul li {
	text-align: left;
}

.body-margin-LR {
    margin-left: 100px;  /* 左側の余白 */
    margin-right: 100px; /* 右側の余白 */
}