/* セクションのタイトル余白を調整 */
h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
h4 {
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 18px;
}
/* 各項目のリスト余白を調整 */
ul {
    margin: 0;
    padding-left: 1px;
}
/* 全体の余白を調整 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}